<%- include("partials/header"); -%>
<% if (title !== "Not Found") { %>
<h1><%=title%></h1>
<p class="date"><%=date%></p>
<p><%=content%></p>

<button type="button" class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-trash"></i> Delete Post</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">DELETE</h5>
      </div>
      <div class="modal-body"> Do you want to delete this? </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">NO</button>
        <form action="/delete" method="post">
          <button id="delete" class="btn btn-primary btn-sm" type="submit" name="deleteButton" value="<%=id%>">YES</button>
        </form>
      </div>
    </div>
  </div>
</div>

<% } else { %>
<h1 style="text-align:center; margin-top: 80px; color: red;"> Post Not Found</h1>
<% } %>

<%- include("partials/footer"); -%>
